<div class="modal-header">
    <h1>Add an Activity or Resource</h1>
</div>

<tabs>
    <pane heading="Activities">
        <apiumac close-others="oneAtATime">
            <apiumac-group ng-repeat="activity in activities">
                <apiumac-heading><img src="angular/app/img/l/{{activity.pix}}">{{activity.title}}</apiumac-heading>
                {{activity.content}}
            </apiumac-group>
        </apiumac>
    </pane>

    <pane heading="Resources">

        <apiumac close-others="oneAtATime">
            <apiumac-group ng-repeat="resource in resources">
                <apiumac-heading><img src="angular/app/img/l/{{activity.pix}}">{{resource.title}}</apiumac-heading>
                {{resource.content}}
            </apiumac-group>
        </apiumac>
    </pane>
</tabs>

<div class="modal-footer">
    <button ng-click="close(result)" class="btn btn-primary" >Close</button>
</div>